*.h linguist-language=C

out/* linguist-generated
assets/**/*.[chs] linguist-generated
assets/**/**/*.[chs] linguist-generated
assets/**/**/**/*.[chs] linguist-generated

include/tonc/* linguist-vendored
include/DWedit/* linguist-vendored