*.h linguist-language=C

out/* linguist-generated
assets/**/*.[chs] linguist-generated
assets/**/**/*.[chs] linguist-generated
assets/**/**/**/*.[chs] linguist-generated
assets/**/**/**/**/*.[chs] linguist-generated
assets/**/**/**/**/**/*.[chs] linguist-generated

include/DWedit/* linguist-vendored